.App {
  text-align: center;
}

.App-header {
  background-color: #fdd9c3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  font-family: Optima, sans-serif;
  font-variant: small-caps;
  color: rgb(3, 3, 3);
}

.choices {
  width: 400px;
  height: 500px;
  object-fit: cover;
  margin-right: 6rem;
  margin-top: 2rem;
}

.Cutekitties {
  width: 350px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.button {
  display: block;
  max-width: 300px;
  margin: auto;
  background-color: white;
  font-size: medium;
}

.Kitty {
  width: 600px;
  height: 500px;
  object-fit: contain;
}