.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {}
}

.App-header {
  background-color: #fdd9c3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  font-family: fantasy;
  color: rgb(3, 3, 3);
}

.Start-button {
  margin-top: -6rem;
  margin-left: 1rem;
}

.Title {
  margin-top: 5rem;
}
